.container_product
{
    display: flex;
}

.container__otlad
{
    max-width: 1504px;
    padding: 0px;
    margin: 0 auto;  
}


.list
{
	display: grid;
	grid-template-columns: repeat(6, 200px);
	 grid-template-columns: repeat(auto-fill, 200px);

	grid-auto-rows: 450px;
	grid-gap: 0px;
}

.auto-fill {
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.item
{
    margin-bottom: 10px;
}